/* colors
  f8f9fa
  e9ecef
  dee2e6
  ced4da
  adb5bd
  6c757d
  495057
  343a40
  212529
*/

.loginForm {
  background-color: #ced4da;
  width: 80vw;
  margin: 0 auto;
  padding-bottom: 20px;
  box-shadow: 0 2px 8px rgba(33, 37, 41, 0.25);
}

.loginForm input {
  padding: 5px;
  border: none;
  margin-top: 5%;
}

.loginForm input[type='submit'] {
  background: white;
}

.loginForm-title {
  text-align: center;
}